---
import {Image} from 'astro:assets';
import {languages} from '../i18n/ui';
import {getLangFromUrl} from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<div class="my-auto flex flex-col">
	<button onclick="showLangs();">
		<Image loading="eager" width="40" height="40" class="size-10 rounded-full transition-transform ease-in-out duration-300 hover:scale-105" src=`/languageFlags/${lang}.svg` alt=`${lang} flag` />
	</button>
	<div id="langOptions" class="absolute -ml-4 -mt-4 hidden flex-col gap-4 rounded-2xl bg-neutral-950/30 p-4 shadow-2xl backdrop-blur-md">
		<button onclick="closeLangs();">
			<Image width="40" height="40" class="size-10 rounded-full transition-transform ease-in-out duration-300 hover:scale-105" src=`/languageFlags/${lang}.svg` alt={lang} />
		</button>
		{languages.map(l => l.key != lang &&
			<button data-lang={l.key} onclick="changeLang(this.dataset.lang);">
				<Image width="40" height="40" class="size-10 rounded-full transition-transform ease-in-out duration-300 hover:scale-105" src=`/languageFlags/${l.key}.svg` alt={l.name} />
			</button>
		)}
	</div>
</div>

<script is:inline>
	const select = document.getElementById('langOptions');
	const showLangs = () => select.classList.replace('hidden', 'flex');
	const closeLangs = () => select.classList.replace('flex', 'hidden');

	const changeLang = (lang) => {
		closeLangs();
		const newPath = window.location.href.replace(/\/[a-z]{2}-[A-Z]{2}\//, `/${lang}/`);
		window.location.replace(newPath);
	};
</script>