---
import { getLangFromUrl } from '../i18n/utils';
import { useTranslations } from '../i18n/utils';
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const routes = [
    { title: t('Home'), path: `/${lang}` },
    { title: t('Projects'), path: `/${lang}/projects` },
    { title: t('About'), path: `/${lang}/about` },
    { title: t('Resume'), path: `/${lang}/resume.pdf` }
];
---

<nav class="navbar">
    <div class="navbar-brand">
        <span>Thomas Isherwood</span>
    </div>
    <ul class="navbar-menu">
        <li class={`nav-item ${Astro.url.pathname === `/${lang}/` ? 'active' : ''}`}>
            <a href={`/${lang}/`}>{t('Home')}</a>
        </li>
        <li class={`nav-item ${Astro.url.pathname === `/${lang}/projects` ? 'active' : ''}`}>
            <a href={`/${lang}/projects`}>{t('Projects')}</a>
        </li>
        <li class={`nav-item ${Astro.url.pathname === `/${lang}/about` ? 'active' : ''}`}>
            <a href={`/${lang}/activity`}>{t('Activity')}</a>
        </li>
        <li class="nav-item">
            <a href={`/${lang}/resume.pdf`} target="_blank" class="resume-btn">{t('Resume')}</a>
        </li>
    </ul>
    <LanguagePicker />


</nav>

<style>
    :root {
        --background-color: #1c1c1c;
        --text-color: #e0e0e0;
        --accent-color: #bb86fc;
    }

    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--background-color);
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }


    .navbar-brand span {
        font-size: 2rem;
        font-weight: bold;
        color: var(--text-color);
    }

    .navbar-menu {
        list-style: none;
        display: flex;
        justify-content: center;
        flex: 2;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        margin: 0 1rem;
    }

    .nav-item a {
        color: var(--text-color);
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: color 0.3s, border-bottom 0.3s;
    }

    .nav-item.active a {
        border-bottom: 2px solid var(--accent-color);
    }

    .nav-item a:hover,
    .nav-item a:focus {
        color: var(--accent-color);
    }

    .resume-btn {
        border: 2px solid var(--accent-color);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        color: var(--text-color);
        text-decoration: none;
        font-weight: bold;
    }

    .resume-btn:hover,
    .resume-btn:focus {
        background-color: var(--accent-color);
        color: var(--background-color);
    }

    .language-picker {
        display: flex;
        align-items: center;
    }

    .language-picker button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

    .language-picker img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
    }

    .language-picker img:hover {
        transform: scale(1.05);
    }

    .space {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
</style>
